<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crosswordpuzzles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.crosswordpuzzles.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.PlayCrossActivity"
            android:label="@string/title_activity_play_cross" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.Play_puzzles_Activity"
            android:label="@string/title_activity_play_puzzles_" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.Settings_Activity"
            android:label="@string/title_activity_settings_" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.Crossui"
            android:label="@string/title_activity_crossui" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.CluelistActivityMainActivity"
            android:label="@string/title_activity_cluelist_activity_main" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.ListSavedGamesActivity"
            android:label="@string/title_activity_list_saved_games" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.AboutActivity"
            android:label="@string/title_activity_sound" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.SolveWordPuzzle"
            android:label="@string/title_activity_solve_word_puzzle" >
        </activity>
        <activity
            android:name="com.example.crosswordpuzzles.SolveNumberPuzzle"
            android:label="@string/title_activity_solve_number_puzzle" >
        </activity>
    </application>

</manifest>
